<div class="fixed inset-0 z-10" tabindex="-1">
    <div class="relative h-full">
        <div class="absolute h-full w-full z-20 bg-white/80 backdrop-blur-sm"></div>
        <div class="absolute z-30 h-full flex flex-col justify-center">
            <div class="p-4">
                <div class="font-semibold text-lg">Bestätigung erforderlich</div>

                <div class="mt-3">
                    @Message
                </div>

                <div class="mt-6 flex justify-end gap-4">
                    <button type="button" class="border-0 px-4 py-2 rounded font-semibold @(Destructive ? "bg-red-500 text-white hover:bg-red-600" : "bg-lime-200 hover:bg-lime-300 text-lime-800 transition-all")" @onclick="CloseAsync">Bestätigen</button>
                    <button type="button" class="border px-4 py-2 rounded hover:bg-gray-50 transition-all" @onclick="CancelAsync">Abbrechen</button>
                </div>
            </div>
        </div>
    </div>
</div>