@using FluentValidation
<div>
    <EditForm Model="EditModel" OnValidSubmit="OnSubmit" @ref="EditForm">
        <FluentValidationValidator></FluentValidationValidator>

        <div>
            <div class="flex flex-col gap-3">
                <InputText class="border border-gray-200 px-3 py-1 rounded grow min-w-0" @bind-Value="@EditModel.Name"></InputText>
                <button class="button-primary">Speichern</button>
            </div>
            
            <ValidationMessage For="() => EditModel.Name"></ValidationMessage>
        </div>
    </EditForm>
</div>

@code {

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public EventCallback<string> OnNewName { get; set; }
    
    [Inject]
    public EditViewModel.Validator Validator { get; set; }

    public EditViewModel EditModel { get; set; }

    public EditForm EditForm { get; set; }

    protected override void OnParametersSet()
    {
        EditModel = new EditViewModel
        {
            Name = Name
        };
    }

    public Task SubmitAsync()
    {
        EditForm.EditContext.Validate();

        return Task.CompletedTask;
    }

    protected async Task OnSubmit()
    {
        await OnNewName.InvokeAsync(EditModel.Name);
    }

    public class EditViewModel
    {
        public string Name { get; set; }

        public class Validator : AbstractValidator<EditViewModel>
        {
            public Validator()
            {
                RuleFor(x => x.Name)
                    .NotEmpty()
                    .WithMessage("Name ist ein Pflichtfeld.");
            }
        }
    }

}