@page "/"
@page "/assets"
@page "/index_mobile.html"

@code {
    [CascadingParameter]
    public MainLayout Layout { get; set; }

    protected override void OnInitialized()
    {
        Layout.UpdateTab(MainLayout.NavigationTab.Calendar);
    }
}

<div class="container mx-auto max-w-4xl p-4 animate-fade-move-in">
    <div class="text-2xl">Kalender</div>
</div>