@page "/"
@page "/index_mobile.html"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="OnClick">Send message to android</button>

@Message

<SurveyPrompt Title="How is Blazor working for you?"/>

@code {
    [Inject]
    public IJSRuntime JS { get; set; }

    public string Message { get; set; }    
    
    public async Task OnClick()
    {
        try
        {
            Message = await JS.InvokeAsync<string>("Android.showToast", "Hello from Blazor inside WebView!");
            
            StateHasChanged();
        }
        catch
        {
            
        }
    }
}